@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;1,600&family=Poppins:wght@400;700&family=Roboto:wght@400;700&family=Source+Code+Pro:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #0091ff;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
}

body{
    font-family: 'poppins', sans-serif;
}

a{
    text-decoration: none;
    display: inline-block;
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}

span{
    color: darkcyan;
}
span:nth-child(2){
    color: red;
}

/* Utility classes */
.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}

.container{
    max-width: 1100px;
    margin-inline: auto;  
}
.flex{
    display: flex;
    align-items: center;
}
ul{
    list-style: none;
}

.hyper-links{
    color: var(--primary-text-color);
}
.hyper-links:hover{
    color: var(--accent-color);
    transition: .2s ease-in-out;
}


/* nav bar */

nav{
    background-color: #b9cde4;
    padding: 10px;
}

.main-nav{
    /* margin-top: 20px; */
    justify-content: space-between;
}
.nav-links{
    flex-basis: 730px;
}
.nav-links ul{
    justify-content: end;
    gap: 100px;
}

/* header sectiion */
header{
    /* padding: 20px var(--padding-inline-section) 0; */
    width:  100%;
}
.header-section{
    padding: 50px;
    /* background-color: antiquewhite !important; */
    justify-content: center;
    flex-wrap: wrap;
    gap: 75px;
    height: 90vh;
}
.header-left{
    /* margin-top: 170px; */
    flex-direction: column;
    text-align: center;
    gap: 10px;
    width: 60vh;
}
.header-left h3{
    
    margin-top: 10px;
    font-family: 'roboto', sans-serif;
}
.know-more{
    position: relative;
    bottom: 15%;

}
.know-more i{
    position: absolute;
    bottom: -200%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem; 
}

/* about-section */

.about-me{
  /* background-color: #8ba6c0; */
  height: 100vh;
}
.about-left{
  flex-direction: column;
  gap: 50px;
}
.about-left h1{
  margin-top: 20px;
  text-align: center;
}
.about-left img{
  width: 200px;
  height: 200px;
  border: 2px solid black;
  border-radius: 50%;
}
.about-left p{
  font-family: 'poppins',sans-serif;
  background: transparent;
  margin: 0 50px;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
}

/* portfolio section */

.portfolio-section{
 /* background-color: #ebf2fa; */
 justify-content: center;
 flex-direction: column;
 gap: 20px;
 flex-wrap: wrap;
 height: 100vh;
}


.project-1{
  margin-top: 50px;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
}

.project-1 img, .project-2 img{
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.project-2{
  margin-top: 50px;
  margin-left: -165px;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
}
.project-1 p, .project-2 p{
  font-family: 'roboto',sans-serif;
  font-weight: 500;
}

.btn{
  font-size: 15px;
  padding: 3px;
  background-color: #1d69a3;
  color: aliceblue;
  margin-top: 5px;
  border-radius: 5px;
  transition: .5s ease-in;
}
.btn:hover{
  background-color: aliceblue;
  color: #1d69a3;
}

.more h3{
  font-family: 'poppins', sans-serif;
  font-weight: 500;
  font-size: 30px;
  margin-top: 30px;
  text-align: center;
}
.more a{
  position: relative;
  left: 15%;
  
  font-size: 20px;
}

/* contact me section */

.contact-content{
  height: 100vh;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
}
/* .contact-content h2{
  margin-bottom: 50%;
} */

.links-div{
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}
.links{
  text-align: center;
}








  
  



